/* Existing Styles */
body {
   font-family: Arial, sans-serif;
   background: linear-gradient(to bottom, #92B6F4, #C4E0F5);
   text-align: center;
   margin: 0;
   padding: 0;
}

h1 {
   color: #000;
   background-color: #3070A0;
   padding: 20px;
   margin: 0;
   font-size: 36px;
}

h1 .rpi {
   color: red;
}

.fetch-button {
   font-size: 18px;
   padding: 10px 20px;
   background-color: #3070A0;
   color: white;
   border: none;
   border-radius: 5px;
   margin-top: 30px;
   cursor: pointer;
}

.fetch-button:hover {
   background-color: #1D4A74;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}

.content {
   display: flex;
   justify-content: space-between;
   margin-top: 40px;
   padding: 20px;
}

.weather, .music {
   width: 45%;
   background-color: #eee;
   padding: 20px;
   border-radius: 10px;
}

.hidden {
   display: none;
}

/* Footer styles */
footer {
   margin-top: 20px;
   padding: 10px;
   background-color: #3070A0;
   color: white;
   text-align: center;
}

.footer-icons img {
   height: 30px;
   margin: 0 10px;
}
